{% extends 'base.html' %}
{% block title %}
    Contrast Stretching
{% endblock %}

{% block content %}
    <h1 class="text-center mt-1 text-white">Image Contrast Stretching</h1>
    <body class="text-center">
    <div class="container">
        <div class="row d-flex flex-row justify-content-center">
            <div class="col-sm">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-sm d-flex flex-row justify-content-center">
                        <img src="{{ url_for('static', filename='assets/Computer-Vision.jpg') }}"
                             class="img-fluid d-inline-flex"
                             alt="Didn't found"
                             style="width: 40%; height: 40%;"
                        >
                    </div>
                </div>
                <div class="row d-flex flex-row justify-content-around">
                    <div class="col text-center">
                        <form class="row d-flex flex-row g-3" action="/" method="POST" style="color:#ffffff;"
                              enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                            <div class="row d-inline-flex">
                                <h1 class="h3 mb-2 pt-5 font-weight-normal">
                                    Provide the Image Paths and Methods for Contrast Stretching
                                </h1>
                            </div>

                            {{ form.file_name.label() }}
                            {{ form.file_name(class="form-control", placeholder="File") }}

                            {{ form.str_method.label() }}
                            {{ form.str_method(class="form-control", placeholder="Method") }}

                            <br>

                            <div class="d-flex flex-row justify-content-center">
                                {{ form.submit(class="btn btn-lg btn-block btn-primary d-inline-flex") }}
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="row d-flex justify-content-center">
                    <div class="card" style="max-width: 75%;">
                        <img src="{{ url_for('static', filename= original_img|default('assets/pca.jpg') ) }}?{{ randoms[0] }}"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Original Image</h5>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center mt-4">
                    <div class="card" style="max-width: 75%;">
                        <img src="{{ url_for('static', filename= final_img|default('assets/pca.jpg') ) }}?{{ randoms[1] }}"
                             class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">After Stretching</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}