{% extends 'base.html' %}
{% block title %}
    PCA Analysis
{% endblock %}

{% block content %}
    <h1 class="text-center mt-1 text-white">Spatial Affine Transformation</h1>
    <body class="text-center">
    <div class="container">
        <div class="row d-flex flex-row justify-content-center">
            <div class="col-sm">
                <div class="row d-flex align-items-center justify-content-center">
                    <div class="col-sm d-flex flex-row justify-content-center">
                        <img src="{{ url_for('static', filename='assets/geometric-tr-img.png') }}"
                             class="img-fluid d-inline-flex"
                             alt="Didn't found"
                             style="width: 40%; height: 40%;"
                        >
                    </div>
                </div>
                <div class="row d-flex flex-row justify-content-around">
                    <div class="col text-center">
                        <form class="row d-flex flex-row g-3" action="/" method="POST" style="color:#ffffff;"
                              enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                            <div class="row d-inline-flex">
                                <h1 class="h3 mb-2 pt-5 font-weight-normal">
                                    Affine Transformation Parameters
                                </h1>
                            </div>

                            <div class="col d-inline-flex flex-column">
                                {{ form.file_name.label() }}
                                {{ form.file_name(class="form-control", placeholder="file_name") }}

                                {{ form.translation_x.label() }}
                                {{ form.translation_x(class="form-control", placeholder="Translation X") }}
                                {{ form.translation_y.label() }}
                                {{ form.translation_y(class="form-control", placeholder="Translation Y") }}
                            </div>

                            <div class="col d-inline-flex flex-column">
                                {{ form.rotation.label() }}
                                {{ form.rotation(class="form-control", placeholder="Rotation") }}

                                {{ form.scale_x.label() }}
                                {{ form.scale_x(class="form-control", placeholder="Scale X") }}
                                {{ form.scale_y.label() }}
                                {{ form.scale_y(class="form-control", placeholder="Scale Y") }}
                            </div>

                            <div class="col d-inline-flex flex-column">
                                {{ form.skew_x.label() }}
                                {{ form.skew_x(class="form-control", placeholder="Skew X") }}

                                {{ form.skew_y.label() }}
                                {{ form.skew_y(class="form-control", placeholder="Skew Y") }}
                            </div>

                            <br>

                            <div class="d-flex flex-row justify-content-center">
                                {{ form.submit(class="btn btn-lg btn-block btn-primary d-inline-flex") }}
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </body>
{% endblock %}