{% extends 'base.html' %}
{% block title %}
    PCA Analysis
{% endblock %}

{% block content %}
    <h1 class="text-center mt-1 text-white">PCs as RGB</h1>
    <body class="text-center">
    <div class="container-fluid">
        <div class="row d-flex flex-row">
            <div class="col-sm text-center">
                <form action="{{url_for('rgb_viz')}}" method="POST" style="color:#ffffff;" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <h1 class="h3 mb-2 mt-1 font-weight-normal">
                        Select respective band
                    </h1>
                    <br>
                    {{ form.r.label() }}
                    {{ form.r(class="form-control", placeholder="r") }}

                    {{ form.g.label() }}
                    {{ form.g(class="form-control", placeholder="g") }}

                    {{ form.b.label() }}
                    {{ form.b(class="form-control", placeholder="b") }}

                    <br>

                    {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

                </form>
            </div>
            <div class="col-sm text-center">
                <div class="container">
                    <div class="row d-flex flex-column justify-content-center">
                        <h1 class="h4 mb-2 mt-1 font-weight-normal text-white">
                            Principal Components as RGB
                        </h1>
                    </div>

                    <div class="row d-flex flex-row justify-content-center">
                        <img src="{{ url_for('static', filename= rgb_path[0] ) }}?{{ rgb_path[1] }}"
                             class="d-block w-100 d-inline-flex" alt="Please select Bands to be shown"
                             style="max-height: 500px; max-width: 500px;">
                    </div>
{#                    <div class="centered collapsed text-white {{ image_is_here|default('', true) }}">#}
{#                        R: {{ pc[0] }}#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}